@font-face {
  font-family: "Azonix";
  src: url("/fonts/AzonixRegular.woff2") format("woff2"),
    url("/fonts/AzonixRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
