@tailwind base;
@tailwind components;

.fnpm-gradient {
  @apply bg-gradient-to-r animate-gradient-x;
  background: linear-gradient(
    270deg,
    #0bdf9fff,
    #09d7adff,
    #07cebaff,
    #03bcd5ff,
    #03b1d6ff,
    #03a6d7ff,
    #0390d8ff,
    #037ad9ff,
    #0264daff,
    #8906dbff
  );
}

.home-gradient {
  @apply bg-gradient-to-r animate-gradient-x;
  background: linear-gradient(
    270deg,
    #0bdf9fff,
    #09d7adff,
    #07cebaff,
    #03bcd5ff,
    #03b1d6ff,
    #03a6d7ff,
    #0390d8ff,
    #037ad9ff,
    #0264daff,
    #8906dbff
  );
}

@tailwind utilities;

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/mono/JetBrainsMono-Regular.ttf") format("ttf"),
    url("/fonts/mono/JetBrainsMono-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Buhkari";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/styled/styled_font.ttf") format("ttf"),
    url("/fonts/styled/styled_font.ttf") format("ttf");
}

@font-face {
  font-family: "Azonix";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/azonix/Azonix.otf") format("otf");
}

.glow {
  @apply text-center text-6xl font-bold text-white;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #00ff00, 0 0 15px #00ff00,
    0 0 20px #00ff00, 0 0 25px #00ff00, 0 0 30px #00ff00;
}
